<!--standard.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<div class="container">
    <div id="payment-wallet"></div>
</div>

<script src="{{.HostBaseURL}}/assets/js/client.js" ></script>

<script>
    var configWallet = {
        containerId: "payment-wallet",
        paymentDetails: {
            amount: "{{.Amount}}",
            currencyCode: "{{.CurrencyCode}}",
            paymentToken: "{{.ID}}",
            countryCode: "GB"
        },
        buttonConfig: {
            color: 'black',
            type: 'plain'
        },
        emailRequired: true,
        billingAddressRequired: true,
        shippingAddressRequired: false
    };

    var wallet = new Connect.Wallet(configWallet, displayErrors, paymentComplete);

    function paymentComplete(response) {
        window.location.href = '/complete/' + "{{.ID}}" + window.location.search;
    }

    function displayErrors(errors) {
        console.log(errors);

        var errorsDiv = document.getElementById('errors');
        errorsDiv.innerHTML = '';
        if (errors && errors.length) {
            var list = document.createElement("ul");
            errors.forEach(function(error) {
                var item = document.createElement("li");
                item.innerText = error.message;
                list.appendChild(item);
            });
            errorsDiv.appendChild(list);
        }
    }
</script>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}